html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}


html {
  background-color: purple;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: green;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: purple;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  background: orange;
  color: #0b0f19;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

a {
  color: yellow;
}